In [42]:
import numpy as np
import pandas as pd
import seaborn as sns
import datetime
import holidays
import matplotlib.pyplot as plt
import math
import re
from typing import Union, Dict, List, Callable
import statsmodels
from statsmodels.nonparametric.smoothers_lowess import lowess
import statsmodels.api as sm
#     import sklearn
import prophet
from prophet import Prophet
import bokeh
from bokeh.models import CustomJS, ColumnDataSource, Slider, Label, Div, HoverTool, Band, Span, BoxAnnotation
from bokeh.plotting import figure
from bokeh.palettes import Spectral11
import ipywidgets as widgets
from IPython.display import display
from typing import Union, Dict, List, Callable
from contextlib import contextmanager
import sys, os
import datetime as dt

In [51]:
# raw data
fact_order = pd.read_csv('data/agg_sales_store_daily.csv')

dim_store = pd.read_csv('data/dim_store.csv',
                        usecols=['store_id','store_name','wholesale','store_group','store_format',
                                 'store_level','store_segment','status', 'number_of_staff',
                                'country','channel'])
# join data
df = fact_order.join(dim_store.set_index('store_id'), on='store_id').drop('store_id', axis=1)

In [52]:
df

,created_at,sales,store_name,wholesale,store_group,store_format,store_level,store_segment,status,number_of_staff,country,channel
0,2017-05-19,0,KHO TRUNG TÂM,NaN,NaN,NaN,NaN,NaN,Active,NaN,Vietnam,Warehouse
1,2017-05-19,4950400,HAI BÀ TRƯNG,NaN,Trực thuộc,Phố,A,Mainstream,Active,6.0,Vietnam,Retail
2,2017-05-19,0,CỘNG HÒA,NaN,Trực thuộc,Phố,A,Mainstream,Active,5.0,Vietnam,Retail
3,2017-05-19,0,HÓC MÔN,NaN,Trực thuộc,Phố,B,Mass,Active,4.0,Vietnam,Retail
4,2017-05-19,0,CÁCH MẠNG THÁNG TÁM,NaN,Trực thuộc,Phố,B,Mass,Active,5.0,Vietnam,Retail
...,...,...,...,...,...,...,...,...,...,...,...,...
128565,2021-08-24,0,CUSTOMIZE,1.0,NaN,NaN,NaN,NaN,Active,NaN,Vietnam,BD
128566,2021-08-24,0,DISTRIBUTION AGENT,1.0,NaN,NaN,NaN,NaN,Active,NaN,Vietnam,BD
128567,2021-08-24,0,WHOLESALE,1.0,NaN,NaN,NaN,NaN,Active,NaN,Vietnam,BD
128568,2021-08-24,2027700,AEON HẢI PHÒNG,NaN,Trực thuộc,Mall,A,Mainstream,Active,NaN,Vietnam,Retail
128569,2021-08-24,0,KHO COUPLE GROUP,NaN,NaN,NaN,NaN,NaN,Active,NaN,Vietnam,Warehouse